.block{
    width: 150px;
    height: 150px;
    margin: 10px;
    background: rgb(142,139,203);
    background: linear-gradient(90deg, rgba(142,139,203,1) 0%, rgba(162,162,208,1) 42%, rgba(24,24,97,1) 100%);
}
.block_list{
    display: flex;
    flex-wrap: wrap;
}